<div class="container-fluid bg-secondary bg-opacity-25">
    <div class="container p-5">
        <div class="d-flex align-items-center justify-content-center py-5">
            <div class="text-center">
                <h1 class="display-1 text-danger fw-bold">404</h1>
                <p class="fs-3"> Oops! Page not found.</p>
                <p class="lead">
                    The page you&apos;re looking for doesn&apos;t exist.

                </p>
                <p class="mt-4">
                    <a [routerLink]="['']" routerLinkActive="router-link-active" class="btn-custom">Go Home</a>
                </p>
            </div>
        </div>
    </div>
</div>