.dropdown-menu {
    /* background-color: rgb(36, 36, 78); */
    background-color: #117195;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    /* background-color: rgb(47, 47, 111); */
    background-color: #117195;
}