<!-- Footer -->
<footer class="text-lg-start bg-light text-muted">
    <div class="container text-center text-md-start">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fas fa-gem me-3"></i>Eventive
                </h6>
                <p>
                    We help our clients to organize events and provide best management facilities.
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                    Useful links
                </h6>
                <div class="">
                    <p>
                        <a href="https://facebook.com" target="_blank" class="me-4 text-reset">
                            <i class="fs-4 bi bi-facebook"></i>
                        </a>
                        <a href="https://twitter.com" target="_blank" class="me-4 text-reset">
                            <i class="fs-4 bi bi-twitter"></i>
                        </a>
                    </p>
                    <p>
                        <a href="https://google.com/" target="_blank" class="me-4 text-reset">
                            <i class="fs-4 bi bi-google"></i>
                        </a>
                        <a href="https://github.com" target="_blank" class="me-4 text-reset">
                            <i class="fs-4 bi bi-github"></i>
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> Surat, Gujarat, India</p>
                <p>
                    <i class="fas fa-envelope me-3"></i>
                    cubeqnaforum@gmail.com
                </p>
                <p><i class="bi bi-phone-fill me-3"></i> 02632 234 567 88</p>
                <p><i class="bi bi-printer-fill me-3"></i> 02632 234 567 89</p>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        &copy; 2022 Copyright:
        <a class="text-reset fw-bold" href="http://localhost:4200" target="_blank">Eventive.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->