<div class="px-5 py-5 my-5 bg-secondary bg-opacity-25">
    <h2>Login</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <label for="staticEmail" class="col-sm-2 col-form-label"><strong>Email</strong></label>
                <div class="col-sm-10">
                    <input type="email" placeholder="Email@xyz.com" class="form-control" id="staticEmail">
                </div>
            </div>
            <div class="mt-3 col-sm-6">
                <a class="btn btn-success" (click)="getOtp()">Get OTP</a>
            </div>
            <div *ngIf="isOtp">
                <div class="col-sm-6">
                    <label for="verifyEmail" class="col-sm-2 col-form-label"><strong>Enter OTP</strong></label>
                    <div class="col-sm-10">
                        <input type="number" name="otp" class="form-control" id="verifyEmail">
                    </div>
                </div>
                <div class="mt-3 col-sm-6">
                    <a class="btn btn-success" (click)="onlogin()">Verify OTP</a>
                </div>
            </div>

        </div>
    </div>
</div>