<section class="bg-secondary bg-opacity-25">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <img src="../../assets/carouselImg1.jpg" alt="Event Image" width="500" class="border rounded-5">
                    </div>
                    <div class="col-md-6">
                        <div class="container mt-4">
                            <h3>Event Name</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis labore inventore ea,
                                vero
                                nobis voluptatibus dignissimos alias ratione pariatur voluptate fugiat ut velit
                                nihil
                                sint vitae ipsa eius sit ipsam reprehenderit, et magnam optio consequatur nam!
                                Voluptates necessitatibus iure impedit ipsa culpa nisi voluptatibus sed cupiditate
                                doloribus. Expedita blanditiis eveniet, quam cupiditate doloribus obcaecati odit
                                accusantium recusandae aut deserunt rerum officiis iusto sequi quidem nostrum
                                labore,
                                vero nihil nisi, impedit et eos. Illum placeat hic aut dolore debitis nostrum sunt
                                unde
                                ea, quisquam consequatur doloremque quibusdam, soluta labore, velit eveniet
                                voluptatibus
                                facilis repudiandae quis ipsa at eaque? Dolor ipsam ab est veritatis tenetur ipsa
                                voluptatum a labore aut, nesciunt totam eveniet perferendis rerum iure porro
                                reiciendis
                                nihil iusto qui similique aliquam officiis quasi eligendi. Ab reiciendis nostrum
                                perspiciatis quidem quae vero explicabo eligendi consectetur dolore consequatur, sed
                                iusto sequi quaerat deleniti facere voluptatibus ipsa asperiores commodi nam.
                                Voluptatem
                                maiores dolor distinctio! Odit, nemo. Tenetur, quia saepe sequi temporibus ut animi
                                excepturi dignissimos magnam reprehenderit totam commodi, dolorum vitae. Architecto,
                                sint ea? Veniam delectus veritatis in numquam vero eum aperiam, iure maxime enim
                                fuga
                                fugit facere quam incidunt recusandae explicabo reprehenderit dolores dignissimos
                                error.
                                Rem optio beatae, at dolore assumenda, maiores nostrum voluptate animi hic ad rerum
                                repellat magnam corrupti nihil cumque numquam ex. Maiores sunt, commodi amet enim
                                velit
                                perferendis ducimus iusto, harum tempora qui quam, veniam obcaecati nihil explicabo
                                tempore nesciunt. Nihil inventore culpa maiores et blanditiis ipsa veniam dicta qui
                                eos
                                nemo ea, aspernatur perferendis eveniet exercitationem quos voluptatem at debitis
                                quo,
                                asperiores beatae eum quis dolores. Dolor corporis dolorem aliquam quas at?
                                Molestias
                                quae provident, nulla suscipit neque at. Temporibus vero ipsa quia ad
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary bg-opacity-25 py-5">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card rounded-4 text-white my-2" style="width: 28rem;">
                            <div class="card-body  rounded-4 background-color px-4">
                                <h1 class="bi bi-geo-alt-fill"></h1>
                                <h4>Where</h4>
                                <p>Location</p>
                                <p> city name</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card rounded-4 text-white my-2 " style="width: 28rem;">
                            <div class="card-body  rounded-4 background-color px-4">
                                <h1 class="bi bi-stopwatch-fill"></h1>
                                <h4>When</h4>
                                <p>Start Date</p>
                                <p>End Date</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-color py-5">
    <div class="container text-center text-white py-5">
        <h2 class="py-4">Get Your Tickets Now</h2>
        <a class="btn btn-success text-white bi bi-ticket-fill fs-3" data-bs-toggle="modal"
            data-bs-target="#exampleModal">&nbsp;&nbsp;<strong>Get
                Tickets</strong></a>
    </div>
</section>

<!-- Vertically centered modal -->
<section>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-body mx-3 my-2">
                            <h4 class="text-center">Event Name</h4>
                            <div class="row">
                                <div class="col-sm-6 mt-2">
                                    <label for="quantity"><strong>Quantity</strong></label>
                                    <select name="quantity" id="quantity" class="mt-2 form-select">
                                        <option value="1">1</option>
                                        <option value="1">1</option>
                                        <option value="1">1</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                            <!-- <input type="submit" value="Checkout" class=" btn btn-success"> -->
                            <button type="submit"
                                class="bi bi-bookmark-check-fill btn btn-success">&nbsp;&nbsp;Checkout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>