<section class="bg-secondary bg-opacity-25">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xs-12">
                <div class="row" *ngIf="isData">
                    <div class="col-md-6 mt-4">
                        <img src="../../assets/carouselImg1.jpg" alt="Event Image" width="500" class="border rounded-5">
                    </div>
                    <div class="col-md-6">
                        <div class="container mt-4">
                            <h3>{{event.event_title}}</h3>
                            <p>
                                {{event.event_description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary bg-opacity-25 py-5">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card rounded-4 text-white my-2" style="width: 28rem;">
                            <div class="card-body  rounded-4 background-color px-4">
                                <h1 class="bi bi-geo-alt-fill"></h1>
                                <h4>Where</h4>
                                <p>{{event.event_venue}}</p>
                                <p>{{event.city}}, {{event.state}}, {{event.country}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card rounded-4 text-white my-2 " style="width: 28rem;">
                            <div class="card-body rounded-4 background-color px-4">
                                <h1 class="bi bi-stopwatch-fill"></h1>
                                <h4>When</h4>
                                <p>{{event.event_start_date}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{event.event_start_time}}
                                </p>
                                <p>{{event.event_end_date}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{event.event_end_time}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-color py-5">
    <div class="container text-center text-white py-5">
        <h2 class="py-4">Get Your Tickets Now</h2>
        <a class="btn btn-success text-white bi bi-ticket-fill fs-3" data-bs-toggle="modal"
            data-bs-target="#exampleModal">&nbsp;&nbsp;<strong>Get
                Tickets</strong></a>
    </div>
</section>

<!-- Vertically centered modal -->
<section>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-body mx-3 my-2">
                            <h4 class="text-center">Event Name</h4>
                            <div class="row">
                                <div class="col-sm-6 mt-2">
                                    <label for="quantity"><strong>Quantity</strong></label>
                                    <select name="quantity" id="quantity" class="mt-2 form-select">
                                        <option value="1">1</option>
                                        <option value="1">1</option>
                                        <option value="1">1</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                            <!-- <input type="submit" value="Checkout" class=" btn btn-success"> -->
                            <button type="submit"
                                class="bi bi-bookmark-check-fill btn btn-success">&nbsp;&nbsp;Checkout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>