.event-details {
    background-image: linear-gradient(to bottom right, #117195, #53d1ff);
}

.panel-title {
    display: inline;
    font-weight: bold;
}

.checkbox.pull-right {
    margin: 0;
}

.pl-ziro {
    padding-left: 0px;
}