<div class="bg-secondary bg-opacity-25 p-5">
    <div class="container">
        <h2 class="text-center">Create Event</h2>
        <div class="container p-5">
            <div class="row">
                <div class="col-xs-12">
                    <form method="post" [formGroup]="createCategoryForm">
                        <div class="row my-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="categoryName"><strong>Category Name</strong></label>
                                <input type="text" formControlName="categoryName" #categoryName id="categoryName"
                                    required class="form-control ng-required">
                            </div>
                        </div>
                        <div class="row p-2 d-flex text-center justify-content-center">
                            <div class="col-sm-12">
                                <input type="submit" style="cursor: pointer;" (click)="onSubmit()"
                                    class="py-3 px-5 btn-custom" value="Create">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>