<div class="bg-secondary bg-opacity-25 p-5">
    <div class="container">
        <h2 class="text-center">Create Event</h2>
        <div class="container p-5">
            <div class="row">
                <div class="col-xs-12">
                    <form method="post">
                        <div class="row my-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="event_title"><strong>Event Title</strong></label>
                                <input type="text" formControlName="event_title" #event_title id="eventTitle"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row mb-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="category_id"><strong>Event Category</strong></label>
                                <select class="form-select my-2" name="category_id" id="category_id">
                                    <option value="">Select Category</option>
                                    <option *ngFor="let cat of categories" value={{cat.categoryId}}>{{cat.categoryName}}
                                    </option>
                                    <!-- <option value="">Select Category</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="row my-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="event_description"><strong>Event Description</strong></label>
                                <textarea formControlName="event_description" #event_description id="event_description"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row my-2 ">
                            <div class="col-sm-12">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-sm-3">
                                        <label for="event_start_date"><strong>Event Start Date</strong></label>
                                        <input type="date" formControlName="event_start_date" #event_start_date
                                            id="event_start_date" class="form-control">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="event_start_time"><strong>Event Start Time</strong></label>
                                        <input type="time" formControlName="event_start_time" #event_start_date
                                            id="event_start_time" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-2 ">
                            <div class="col-sm-12">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-sm-3">
                                        <label for="event_end_date"><strong>Event End Date</strong></label>
                                        <input type="date" formControlName="event_end_date" #event_end_date
                                            id="event_end_date" class="form-control">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="event_end_time"><strong>Event End Time</strong></label>
                                        <input type="time" formControlName="event_end_time" #event_end_date
                                            id="event_end_time" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="event_venue"><strong>Venue Address</strong></label>
                                <textarea formControlName="event_venue" #event_venue id="event_venue"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row mb-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="city"><strong>City</strong></label>
                                <input type="text" formControlName="city" #city id="city" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="state"><strong>State</strong></label>
                                <input type="text" formControlName="state" #state id="state" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="country"><strong>Country</strong></label>
                                <input type="text" formControlName="country" #state id="country" class="form-control" />
                            </div>
                        </div>
                        <div class="row mx-2 d-flex text-center justify-content-center">
                            <div class="col-sm-12">
                                <input type="submit" class="btn-custom" value="Create">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>