<div class="bg-secondary bg-opacity-25 p-5">
    <div class="container">
        <h2 class="text-center">Create Event</h2>
        <div class="container p-5">
            <div class="row">
                <div class="col-xs-12">
                    <form method="post" [formGroup]="createEventForm">
                        <div class="row my-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="eventTitle"><strong>Event Title</strong></label>
                                <input type="text" formControlName="eventTitle" #eventTitle id="eventTitle"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row mb-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="categoryId"><strong>Category</strong></label>
                                <select class="form-select my-2" name="categoryId" formControlName="categoryId"
                                    #categoryId id="categoryId">
                                    <option value="">Select Category</option>
                                    <option *ngFor="let cat of categories" value={{cat.categoryId}}>{{cat.categoryName}}
                                    </option>
                                    <!-- <option value="">Select Category</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="row my-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="eventDescription"><strong>Event Description</strong></label>
                                <textarea formControlName="eventDescription" #eventDescription id="eventDescription"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row my-2 ">
                            <div class="col-sm-12">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-sm-3">
                                        <label for="eventStartDate"><strong>Event Start Date</strong></label>
                                        <input type="date" formControlName="eventStartDate" #eventStartDate
                                            id="eventStartDate" class="form-control">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="eventStartTime"><strong>Event Start Time</strong></label>
                                        <input type="time" formControlName="eventStartTime" #eventStartTime
                                            id="eventStartTime" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-2 ">
                            <div class="col-sm-12">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-sm-3">
                                        <label for="eventEndDate"><strong>Event End Date</strong></label>
                                        <input type="date" formControlName="eventEndDate" #eventEndDate
                                            id="eventEndDate" class="form-control">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="eventEndTime"><strong>Event End Time</strong></label>
                                        <input type="time" formControlName="eventEndTime" #eventEndTime
                                            id="eventEndTime" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="eventVenue"><strong>Venue Address</strong></label>
                                <textarea formControlName="eventVenue" #eventVenue id="eventVenue"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row mb-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="city"><strong>City</strong></label>
                                <input type="text" formControlName="city" #city id="city" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="state"><strong>State</strong></label>
                                <input type="text" formControlName="state" #state id="state" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-2 d-flex justify-content-center">
                            <div class="col-sm-6">
                                <label for="country"><strong>Country</strong></label>
                                <input type="text" formControlName="country" #state id="country" class="form-control" />
                            </div>
                        </div>
                        <div class="row p-2 d-flex text-center justify-content-center">
                            <div class="col-sm-12">
                                <input type="submit" (click)="onSubmit()" class=" px-3 btn-custom" value="Create">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>